{%	extends	'company/base.html'	%}

{%	block	content	%}
<div class="order">
<h4>
{% if orders %}
    <table class="table">
        <thead>
      <tr>
        <th>Suborder</th>
        <th>Product ID</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
            <tbody>

            {% for order in orders %}

    <tr><td> {{order.orderdetailid}} </td>
    <td> {{ order.productid }}</td>
    <td> {{ order.unitprice }} </td>
    <td> {{ order.quantity }}</td>
    <td> {{ order.subtotal }}</td></tr>
            {% endfor %}
    <tr><td><h3>  <span class="label label-primary">Order Total</span> </h3></td><td></td><td></td><td></td><td><h3>{{ total }}</h3></td>   </tr>
            </tbody>
    </table>
{% else %}
   Order not found
{% endif %}
</h4>
</div>
<div class="row pull-right">
    <h4><a	href="{% url 'orders' %}"><span class="glyphicon glyphicon-arrow-left"></span> </a></h4>
</div>

{%	endblock %}